<h1>Create New Pet</h1>
<form action="/pets" method="post">
  <label>Pet Name:</label>
  <input type="text" name="pet[name]" id="pet_name">

  <h3>Existing Owners</h3>
  <% @owners.each do |o| %>
    <input type="radio" name="pet[owner_id]" id="<%= o.id %>" value="<%= o.id %>"><%= o.name %></input><br>
  <% end %>
  <br>

  <h3>Create New Owner</h3>
  <label>Owner Name: </label>
  <input type="text" name="owner[name]" id="owner_name"></input>
  <br>

  <input type="submit" value="Create Pet">
</form>
